##Genomes-Catalog {
  background-color: white;
  height: calc(100vh - 85px);
  width: calc(100vw - 50px);
}
.item_details{
  margin-left: 5px;
}
.topics{
  font-size: 0.9em;
  font-weight: 300;
  margin-left: 5px;
}
.topicsbold{
  font-weight: 800;
}
.topicsstd{
  font-size: 0.8em;
  font-weight: 300;
}
.externallink{
  margin-left: 3px;
  font-size: 0.7em;
  vertical-align: middle;
}
.pubLink{
  color: #005FA9;
  display: inline-block;
  text-decoration: none;
}
.pubLink:hover {
  color: orangered !important;
  text-decoration: none;
}

.Name{
	color: #0E1AC2;
}
.Version{
	font-size: 0.9em;
}

.infobox_icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f05a";
  color: gray;
}
#Infobox {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 0.8em;
  padding: 3px 40px 3px 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…g9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-linear-gradient(bottom, #dfd2a9 0%, rgba(255, 255, 255, 0) 80%);
  background-image: -moz-linear-gradient(bottom, #dfd2a9 0%, rgba(255, 255, 255, 0) 80%);
  background-image: -o-linear-gradient(bottom, #dfd2a9 0%, rgba(255, 255, 255, 0) 80%);
  background-image: linear-gradient(to top, #dfd2a9 0%, rgba(255, 255, 255, 0) 80%);
}
#Infobox a {
  color: black;
  font-weight: 500;
}
#Infobox a:hover {
  color: orangered;
}
#Infobox .fa {
  color: gray;
}
#Infobox:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f05a";
  color: gray;
}
#Infobox:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f05a";
  color: gray;
}
