/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for GENOMEBROWSER processes
 */

params {

	/*
	Outputs steps directory names in output directory
	*/

	fasta_dirname="fasta_result"
	bam_dirname="bam_result"
	vcf_dirname="vcf_result"
	gff_dirname="gff_result"
	/*gff3_dirname"="gff3_result"*/

}


