/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for OMICS-CATALOG processes
 */

params {

	/* 
	General parameters 
    	*/

    	help = false
    	monochrome_logs = false
    	name = false
    	email = false
    	email_on_fail = false
    	hostnames = false

}


