/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for Genomebrowser processes
 */

params {


         // Analyzed project name and its version
        projectName = "Crassostrea_gigas"
        version = "BGI_v1"
	
	//Genomes directory
	genomesdir = "/home/ref-bioinfo-public/ifremer/sebimer/organism-banks"

        // Output directory to publish workflow results
        outdir = "${genomesdir}/${projectName}/${version}"

	//Log directory
        //logdir = "$LOG_DIR"

        //Run catalog process only
        catalog_only=false


        //Input FASTA file
        fasta="/home/ref-bioinfo/ifremer/sebimer/organism-banks/Crassostrea_gigas/BGI_v1/GCA_000297895.1_genomic.fna"

        //Input BAM file
        bam=""

        //Input VCF file
        vcf=""

        //Input GFF file
        gff=""

        //Input GFF3 file
        gff3="/home/ref-bioinfo/ifremer/sebimer/organism-banks/Crassostrea_gigas/BGI_v1/GCA_000297895.1_genomic.gff3"



	//config.json
        config_json="${outdir}/jbrowse2/config.json"
	
	//databank.json
        databank_json="${outdir}/databank.json"

        // Publish directory for Genomes.csv
        catalogdir = "${genomesdir}"

	//url to jbrowse2 instance
        viewer_url="https://genomes-viewer.ifremer.fr"
}
