/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for Genomebrowser processes
 */

params {


         // Analyzed project name and its version
        projectName = "Ostrea_edulis"
        version = "ROSCOFF_v1"

        // Output directory to publish workflow results
        outdir = "/path/to/dir/${projectName}/${version}"

	//Log directory
        logdir = ""

        //Run catalog process only
        catalog_only=false


        //Input FASTA file
        fasta="${outdir}/Ostrea_edulis.fna"
        //fasta=""

        //Input BAM file
        //bam="${outdir}/Tiso-14-Carboline-Ech232_FiltreFQv1.bam"
        bam=""

        //Input VCF file
        //vcf="${outdir}/corrected_SNP-Indel-VCF.vcf"
        vcf=""

        //Input GFF file
        //gff="${outdir}/dicLab1_scaffold.gtf"
        gff=""

        //Input GFF3 file
	gff3="${outdir}/Ostrea_edulis.gff3"
        //gff3=""



	//config.json
        config_json="${outdir}/jbrowse2/config.json"
	
	//databank.json
        databank_json="${outdir}/databank.json"

        // Publish directory for Genomes.csv
        catalogdir = "/path/to/csv_file"


}
