/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for Genomebrowser processes
 */

params {


        // Analyzed project name and its version
        projectName = "Tisochrysis_lutea"
        version = "test"
	
	//Genomes directory
	genomesdir = "/home/ref-bioinfo/ifremer/sebimer/organism-banks"

        // Output directory to publish workflow results
        outdir = "${genomesdir}/${projectName}/${version}"

	//Log directory
        //logdir = "$LOG_DIR"

        //Run catalog process only
        catalog_only=true

        //Input FASTA file
	fasta = "/home/ref-bioinfo/ifremer/sebimer/organism-banks/Tisochrysis_lutea/test/Tiso_Genome_V3.0.fasta"

        //Input BAM file
        bam="/home/ref-bioinfo/ifremer/sebimer/organism-banks/Tisochrysis_lutea/test/Tiso-14-Carboline-Ech232_FiltreFQv1.bam"

        //Input VCF file
        vcf="/home/ref-bioinfo/ifremer/sebimer/organism-banks/Tisochrysis_lutea/test/TisoDivSouches_BWA_Freebayes-CUT.vcf"

        //Input GFF file
        gff="/home/ref-bioinfo/ifremer/sebimer/organism-banks/Tisochrysis_lutea/test/TisoAnnotationV3.1.gff"

        //Input GFF3 file
	gff3=""

	//config.json
        config_json="${outdir}/jbrowse2/config.json"
	
	//databank.json
        databank_json="${outdir}/databank.json"

        // Publish directory for Genomes.csv
        catalogdir = "${genomesdir}"

	//url to jbrowse2 instance
        viewer_url="https://genomes-viewer-intra.ifremer.fr"
}
