/*
 * -------------------------------------------------
 *  Nextflow test config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for OMICS-CATALOG processes
 */

params {


         // Analyzed project name and its version
        projectName = "Crassostrea_gigas"
        version = "ROSLIN_v1"

	//Genomes directory
	genomesdir = "${baseDir}/dataset/test/genomes"
        
	// Output directory to publish workflow results
        outdir = "${baseDir}/dataset/test/genomes/${projectName}/${version}"

	//Log directory
        logdir = "${baseDir}/work"

        //Run catalog process only
        catalog_only = false


        //Input FASTA file
        fasta = "${outdir}/query.fna"

        //Input BAM file
        bam = ""

        //Input VCF file
        vcf = ""

        //Input GFF file
        gff = ""

        //Input GFF3 file
        gff3 = ""


	//config.json
        config_json = "${outdir}/jbrowse2/config.json"
	
	//databank.json
        databank_json = "${outdir}/databank.json"

        // Publish directory for Genomes.csv
        catalogdir = "${baseDir}/dataset/test/catalog"

	//url to jbrowse2 instance
        viewer_url = "https://viewer-instance.fr"

}
